* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 35vw;

    padding: 10px;

}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
    height: 70px;



}

.home {
    padding: 10px;
}

.home ul li {
    display: flex;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    font: bold;

}

.logo {

    padding: 10px;
}

.libary {
    min-height: 80vh;
    position: relative;
}


.nav img {
    filter: invert(1);

}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    height: 72px;

}

.header>* {
    padding: 10px;

}

.footer {
    display: flex;
    font-size: 10px;
    gap: 18px;
    position: absolute;
    bottom: 0px;
    padding: 26px 0;
}



.footer a {
    color: gray;
}


.cardcontainer {
    margin: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}

.spotify-playlist {
    padding: 16px;
}

.card {

    width: 200px;
    padding: 10;
    border-radius: 5px;
    background-color: rgb(68, 65, 65);



}

.card>* {
    padding-top: 10px;

}

.card h2,
p {

    text-align: center;
    position: relative;
    bottom: 60px;
}

.card img {
    height: 200px;
    width: 100%;
    object-fit: contain;

}

.play {
    display: flex;
    justify-content: end;
    align-items: center;

}

.play button {
    position: relative;
    bottom: 64px;
    background-color: rgb(17, 195, 17);
    height: 45px;
    width: 45px;
    border-radius: 30px;
    border: none;
    right: 14px;

    transition: all 1s ease-out;
}

.button>* {
    margin: 0 11px;
}

.signbtn {
    font-weight: bold;
    color: rgb(82, 80, 80);
    background-color: rgb(36, 36, 36);
    border: none;

    font-size: 14px;

}

.signbtn:hover {
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;

    padding: 10px;

    border-radius: 20px;
}

.loginbtn {
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 78px;
    color: black;
}

.loginbtn:hover {
    padding: 12px;
    font-weight: bold;

}

.playbar {
    width: 100%;
    padding: 12px;
    bottom: 25px;
    background-color: rgb(218, 225, 218);
    position: fixed;
    width: 57vw;
    filter: invert(1);
    border-radius: 10px;
    height: 45px;
}

.songplay {
    display: flex;
    justify-content: center;
    gap: 16 px;
}

.songlist ul {
    padding: 0 12px;


}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px 0px;
    margin: 12px 0px;
    padding: 13px;
    justify-content: space-between;

}

.songlist .info {
    width: 344px;
    font-size: 16px;
}

.songlist {
    height: 520px;
    overflow: auto;
    margin-bottom: 44px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 16px;
    width: 64px;
    padding: 12px;

}

.seekbar {
    height: 2px;
    width: 99%;
    border-radius: 10px;
   background-color: black;
    position: absolute;
    bottom: 0;
    margin: 7px;
    left: -5px;
}

.cricle {
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 40px;
    position: relative;
    bottom: 9px;
    left: 0%;
}
.songplay img{
    cursor: pointer;
}
